<%= form_with(model: chat) do |form| %>
  <div>
    <%= form.label :uuid, style: "display: block" %>
    <%= form.text_field :uuid %>
  </div>

  <div>
    <%= form.label :prompt, style: "display: block" %>
    <%= form.text_area :prompt %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div>
  <%= link_to "Conversation Feedback", new_feedback_path(uuid: chat.uuid) %>
</div>
