<h1>Chat</h1>

<%= render "form", chat: @chat %>

<% if @chats.any? %>
  <% @chats.each do |chat| %>
    <article id="<%= dom_id chat %>">
      <%= render "chat", chat: chat %>
      <%= render "feedbacks/form", feedback: Feedback.new(
                                               chat: chat, 
                                               level: "message", 
                                               uuid: chat.uuid,
                                               version: ENV["MESSAGE_FEEDBACK_VERSION"]) %>
    </article>
  <% end %>
<% end %>

<div>
  <%= link_to "Back to chats", chats_path %>
</div>
