<div id="<%= dom_id feedback %>">
  <p>
    <strong>Chat:</strong>
    <%= feedback.chat.id %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= feedback.chat.uuid %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= ENV["#{feedback.level.upcase}_FEEDBACK_VERSION"] %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= feedback.level %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= feedback.response %>
  </p>
</div>
