<%= form_with(model: feedback) do |form| %>
  <%= form.hidden_field :chat_id %>
  <%= form.hidden_field :uuid %>
  <%= form.hidden_field :version %>
  <%= form.hidden_field :level %>

  <% questions.each do |question| %>
    <%= render "feedbacks/#{question['datatype']}", question: question %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
