<%= question["title"] %><br>

<% question["options"].each_with_index do |option, index| %>
  <input type="radio" 
         id="answers_<%= question['id'] %>_<%= index %>" 
         name="answers[<%= question['id'] %>]" 
         value="<%= option %>">
  <label for="answers_<%= question['id'] %>_<%= index %>}"> <%= option %></label><br>
<% end %>
